<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<title>Вход</title>
	</head>
	<body>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<div class="wrapper" id="app">
			<header class="header">
				<div class="header__container">
					<div class="header__left">
						<a href="index.html">
							<img src="img/logo.svg" alt="logo" class="header__logo" />
						</a>
						<ul class="header__menu">
							<li><a href="index.html">Главная</a></li>
							<li><a href="news.html">Новости</a></li>
							<li><a href="contact.html">Контакты</a></li>
						</ul>
					</div>
					<div class="header__right">
						<div class="auth__menu">
							<a href="login.html">Войти</a>
							<a href="register.html"><button>Регистрация</button></a>
						</div>
					</div>
				</div>
			</header>
			<main class="main">
				<div class="auth">
					<form v-on:submit.prevent="signIn">
						<h1>Вход</h1>
						<input
							v-model="login"
							type="text"
							placeholder="Введите логин"
							required
						/>
						<input
							v-model="password"
							type="password"
							placeholder="Введите пароль"
							required
						/>
						<button>Войти</button>
					</form>
				</div>
			</main>
			<footer class="footer">
				<div class="footer__copyright">
					@ Attestify 2023 - Все права защищены
				</div>
			</footer>
		</div>

		<script>
			const { createApp } = Vue;

			createApp({
				data() {
					return {
						login: "",
						password: "",
					};
				},
				methods: {
					signIn() {
						let user = {
							login: this.login,
							password: this.password,
						};
						let url = "http://attestify/public/api/login";
						let response = fetch(url, {
							method: "POST",
							headers: {
								"Content-Type": "application/json;charset=utf-8",
							},
							body: JSON.stringify(user),
						});
						if (response.OK) {
							document.cookie =
								encodeURIComponent(user) +
								"=" +
								encodeURIComponent(response.json().code);
							window.location.href = "profile.html";
						} else {
							alert("Данные введены неверно!");
						}
					},
				},
			}).mount("#app");
		</script>
	</body>
</html>
